* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 30px 20px;
  background-color: #d9333f;
  display: flex;
  justify-content: flex-end;
}

.top-box1,
.top-box2,
.top-box3,
.top-box4,
.top-box5 {
  background-color: #f6bfbc;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}

.top-box1 {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.left {
  background-color: #e9dfe5;
  width: 300px;
}

.right {
  padding: 20px;
  background-color: #fdeff2;
  display: flex;
  flex-wrap: wrap;
  max-width: 700px;
  width: 50%;
  flex-grow: 1;
}

.mid-box {
  background-color: #d7003a;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  width: 100%;
  padding: 20px;
  background-color: #d9333f;
}

.bottom-boxes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bottom-box1,
.bottom-box2,
.bottom-box3 {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #f6bfbc;
}
